body {
    background-Image: url("/Background/background2.jpg");
    height: 100vh;
    background-size: cover;
}

.div-reg2{
    width: 500px;
    float: right;
    box-sizing: border-box;
    margin-top: 30%;
    border-radius: 25px;
}
