h6{
    float:left;
}

table{
    width:300px;;
}

td, th {
    border: 1px solid #ddd;
  padding: 8px;
}

tr{
    padding: 5px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

tr:hover {background-color: #ddd;}

td{
    padding: 5px;
}