body {
    background-Image: url("/Background/background3.jpg");
    height: 100vh;
    background-size: cover;
}


.div-reg3 {
    padding: 25px;
    width: 500px;
    float: right;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-sizing: border-box;
    margin-top: 30%;
    border-radius: 25px;
}