body {
    background-Image: url("/Background/background4.jpg");
    height: 100vh;
    background-size: cover;
}

.div-reg4 {
    padding: 50px 25px 100px 25px;
    width: 500px;
    float: right;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    box-sizing: border-box;
    margin-top: 30%;
    border-radius: 25px;
}