.buttonMap{
    width: 80px;
    height: 40px;
    margin: 15px;
    right:0;
    position: absolute;
}

#sidebar{
    height: 96%;
    position: absolute;
    z-index: 1;
    left: 0;
    background:white;
    transition: 0.5s;
    overflow-x: hidden;
    padding: 8px 0;
    border-radius: 0px 10px 10px 0px;
}

.sidebarOpen{
    width: 25%;
}

.sidebarClose{
    width: 0%;
}

content{
    padding: 10px 10px 10px 10px;
    position: relative;
}

.buttonCollapseField:hover{
    color:white;
    cursor: pointer;
}

#collapseField{
    background: #b6becc;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    height: 0%;
    width: 100vw;
    overflow-x: hidden;
}

#App {
    height: 94.2vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap,
}


