#collapseButton{
    position: absolute;
    z-index: 10;
    background-color: #eee;
    transition: 0.5s;
    overflow-x: hidden;
    top:15%;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 0px 7px 7px 0px;
    border-style: groove;
}

.collapseOpen{
    left: 25%;
}

.collapseClose{
    left:0%;
}

#sidebar #sidebarSection{
    position: relative;
    padding:10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BDBDBD;
}

#sidebar #divSidebarSectionBorder{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BDBDBD;
  }

#header{
    position: relative;
}

h6 {
    float:left;
    padding-right: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(95, 94, 94); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0f0f0f; 
  }

  .commentDiv{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BDBDBD;
  }

  .dateField{
      font-size:80%;
      font-weight: lighter;
  }

  .commentField{
      font-style: italic;
  }
